/* DivTable.com */
.divTable{
  display: table !important;
  width: 100% !important;
}
.divTableRow {
  display: table-row !important;
}
.divTableHeading {
  background-color: #ddd !important;
  display: table-header-group !important;
}
.divTableCell, .divTableHead {
  border: 1px solid #ddd !important;
  display: table-cell !important;
  padding: 3px 10px !important;
}
.divTableHeading {
  background-color: #ddd !important;
  display: table-header-group !important;
  font-weight: bold !important;
}
.divTableFoot {
  background-color: #ddd !important;
  display: table-footer-group !important;
  font-weight: bold !important;
}
.divTableBody {
  display: table-row-group !important;
}

.divTableCell30 {
  width: 30% !important;
  font-weight: bold !important;
}



/*************************************************************/
.dc_tracking_si_results .dc_tracking_no_results .dc_modal_crear{
  display: none;
}

.dc_tracking_img_icon {
  width: 16px;
}

.dc_tracking_table_mob_col{
  
}

.dc_tracking_table_desk_col{
  
}

@media (max-width: 768px) {
  .dc_tracking_table_desk_col{
    display: none;
  }
  .dc_tracking_col_table{
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
}

@media (min-width: 769px) {
  .dc_tracking_table_mob_col{
    display: none;
  }

}


.dc_tracking_nav_active{
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
}

